*
	{
		margin: 0;
		padding: 0;
	}
#cuerpo
	{
		position: relative;
		margin: 0 auto;
		width: 1280px;
		font-family: cantarell;
	}
#encabezado
	{
		position: relative;
		margin: 0 auto;
		width: 1280px;
		padding: 20px 0px;
		font-size: 40px;
		text-align: center;
		color: #FFF;
		background-color: #2B81D6;
		
	}
#menu
	{
		background-color: #2B81D6;
		text-align: center;
		color: #FFF;
		height: 27px;
	}
#menu a
	{
		text-decoration: none;
		font-size: 18px;
		background-color: #2B81D6;
		color: #FFF;
		padding: 3px 4px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		transition: all 1s;
		
	}
#menu a:hover
	{
		background-color: #9ECFFF;
	}
#contenido
	{
		margin-top: 20px;
		text-align: center;
	}
#contenido table
	{
		margin: 0 auto;
		padding-bottom: 10px;
	}
.tablas td
	{
		border-bottom: 1px solid #ddd;
		text-align: left;
		padding-right: 10px; 
	}
#contenido a
	{
		display: inline-block;
		text-decoration: none;
		color: #FFF;
		background-color: #2B81D6;
		border: 1px solid #2B81D6;
		padding: 5px 6px;
		margin-left: 4px;
		margin-bottom: 5px;
		border-radius: 5px;
		box-shadow: inset 0px 1px 3px #96CBFF;
	}
#pie
	{
		position: relative;
		margin: 0 auto;
		width: 1280px;
		padding: 20px 0px;
		text-align: center;
		color: #FFF;
		background-color: #000;
		clear: both;
	}
.imagen_producto_t
	{
		width: 150px;
		height: 150px;
	}
.titulo
	{
		font-size: 22px;
	}
#miniatura
	{
		max-height: 200px;
		max-width: 200px;
	}
#iz
	{
		float: left;
		margin-left: 300px;
	}
#de
	{
		float: left;
	}
#apl
	{
		margin-left: 150px;
		margin-top: 100px;
		width: 200px;
		height: 200px;
		overflow: hidden;
	}
#ampliado
	{
		position: relative;
		top: 200px;
		left: 200px;
		min-width: 500px;
		min-width: 500px;
		max-width: 500px;
		max-width: 500px;
	}
input[type*="text"], input[type*="number"], input[type*="password"], input[type*="file"]
	{
		padding: 3px;
		width: 200px;
		color: #555;
		border: 1px solid #555;
		border-radius: 4px;
		margin-bottom: 3px
	}
input[type*="file"]
	{
		width: 400px !important;
	}
input[type*="submit"]
	{
		color: #FFF;
		background-color: #2B81D6;
		border: 1px solid #2B81D6;
		padding: 3px 6px;
		margin-left: 4px;
		margin-bottom: 5px;
		border-radius: 5px;
		box-shadow: inset 0px 1px 3px #96CBFF;
	}
