{% extends "layout.html" %}
{% block cuerpo %}
	{% for campo in detalle %}
	<div id="iz">
	<span class="titulo">Detalle del producto</span>
	<br><br>
	{{ campo['nombre'] }}
	<br><br>
	Descripción del articulo: {{ campo['descripcion'] }}
	<br><br>
	Precio: ${{ campo['precio'] }}
	<br><br>
	¿Esta el producto en oferta?: {% if campo['oferta'] > 0 %} Si, tiene el {{ campo['oferta'] }}% de descuento {% else %} No {% endif %}
	<br><br>
	Imagen ilustrativa del producto:<br>
	<img id="miniatura" onmousemove="posicion(event)" onmouseout="limpiar()" src="/img/{{ campo['imagen'] }}">
	</div>
	<div id="de">
		<div id="apl">
			<img src="/img/{{ campo['imagen'] }}" id="ampliado">
		</div>
	</div>
	{% endfor %}
{% endblock %}
